@media only screen and (max-width: 1350px) {

    body {
      font-size: 10px;
    }
    /* nav */
    nav {
      height: auto;
      padding: 10px;
    }

  .nav__center {
    width: 80%;
  }

    /* header */
    header {
        width: 100%;
        height: auto;
        padding: 150px;
    }

    .header__center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-text {
        margin-bottom: 30px;
    }

    .header-text h1 {
      font-size: 50px;
    }

    .header-text p {
      font-size: 24px;
    }

    h1 {
      font-size: 44;
    }

    h2 {
      font-size: 24;
    }

    h3 {
      font-size: 18;
    }

    p {
      font-size: 10;
    }

    /* body */
    /* section 1 */
    .module__box--placement1 {
      width: 280px;
      height: 300px;
      padding: 20px;
    }

    .module__box--placement1 h3 {
      font-size: 24px;
    }

    .module__box--placement1 .input-container p {
      font-size: 10px;
    }

    .module__box--placement1 div {
      font-size: 10px;
    }

    .module__box--placement1 input {
      width: 200px;
      height: 40px;
    }

    .module__box--placement1 .input-container {
      width: 200px;
      height: 40px;
    }

    .module__box--placement1 .slider {
      height: 10px;
    }

    button {
      width: 350px;
      height: 35px;
      font-size: 14px;
    }

    .button--below {
      margin-top: 15px;
    }

    .introduction {
      height: 400px;
    }

    .introduction__centered {
      width: 800px;
      height: 400px;
    }
    .introduction__text {
        width: 500px;
    }
    .introduction__text h2 {
      font-size: 26px;
    }

    .introduction__text p {
      font-size: 14px;
    }
/* section 2 */
    .what-we-do__centered {
      width: 800px;
      height: 400px;
    }
    .what-we-do {
      height: 550px;
    }

    .what-we-do h2 {
      font-size: 26px;
    }

    .points__box {
        width: 240px;
        height: 330px;
    }

    .what-we-do__points .points__box h3{
      font-size: 20px;
    }
    .what-we-do__points .points__box p{
      font-size: 14px;
    }
/* Section 3 */

}
