@media only screen and (max-width: 1350px) {

    body {
      font-size: 10px;
    }
    header {
        width: 100%;
        height: auto;
        padding: 150px;
    }

    .header__center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-text {
        margin-bottom: 30px;
    }

    h1 {
      font-size: 44;
    }

    h2 {
      font-size: 24;
    }

    h3 {
      font-size: 18;
    }

    p {
      font-size: 10;
    }
}
